page-home {
}

#localVideo {
  position: absolute;
  width: 200px;
  height: 200px;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
}

#remote {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
